.button-operation {
  width: 5vw;
  height: 5vw;
  font-size: 3vw;
  border-radius: 50%;
  margin: 10px;
  background-color: #133b5c;
  color: white;
}
.button-operation:hover {
  background-color: #1d2d50;
  color: white;
  transition: 0.3s;
}
